<template>
  <div class="app backImgLogin">
    <div class="dark-section"></div>
    <div class="app-body flex-row align-items-center ">
      <div class="container">
        <b-row class="justify-content-center" style="border: 0px; width: 50%; margin-left: 25%">
          <b-col md="8">
            <b-card-group style="flex-direction: column">
              <b-card no-body class="text-white bg-custom-light-grey bd-custom-light-grey d-md-down-none" style="border: 0px; background-color: white; width: 100%;">
                <b-card-body class="text-center">
                  <div>
                    <img src="img/hygenialogo.png"/>
                  </div>
                </b-card-body>
              </b-card>
              <b-card no-body class="p-4 bd-custom-light-grey" style="border: 0px">
                <b-card-body>
                  <h1 class="capitalize">{{ $t('LOGIN') }}</h1>
                  <!-- <p class="text-muted">{{ $t('signIn') }}</p> -->

                  <b-input-group class="mb-3">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon-user"></i></span></div>
                    <input
                      :class="{invalid: $v.userData.email.$error}"
                      type="text"
                      class="form-control input"
                      style="margin:0px"
                      placeholder="Email"
                      @keyup.enter="login(userData)"
                      @blur="$v.userData.email.$touch()"
                      v-model="userData.email">
                  </b-input-group>
                  <div v-if="$v.userData.email.$dirty">
                    <div v-if="!$v.userData.email.required" class="error-label">{{ $t('cannotBeEmpty') }}</div>
                    <div v-if="$v.userData.email.$error" class="error-label">{{ $t('invalidEmail') }}</div>
                    <br v-if="!$v.userData.email.required || $v.userData.email.$error">
                  </div>

                  <b-input-group class="mb-4">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon-lock"></i></span></div>
                    <input
                      @keyup.enter="redirectDashboard"
                      type="password"
                      class="form-control input"
                      style="margin:0px"
                      placeholder="Password"
                      @blur="$v.userData.password.$touch()"
                      v-model="userData.password">
                  </b-input-group>
                  <div v-if="$v.userData.password.$dirty">
                    <div v-if="!$v.userData.password.required" class="error-label">{{ $t('cannotBeEmpty') }}</div>
                    <br v-if="!$v.userData.password.required">
                  </div>

                  <b-row style="border: 0px; width: 100%; margin: 0px">
                    <b-col cols="6" style="width: 100%; padding: 0px">
                      <b-button
                        style="width:195%; color: black; background-color: #dfe324"
                        variant="primary"
                        class="px-4 loginBtn"
                        @click="redirectDashboard"
                        :disabled="$v.userData.$invalid">{{ $t('login') | capitalize }}</b-button>
                    </b-col>
                    <!--<b-col cols="6" class="text-right">-->
                    <!--<b-button variant="link" class="px-0">{{ $t('forgot_password') }}</b-button>-->
                    <!--</b-col>-->
                  </b-row>
                </b-card-body>
              </b-card>
            </b-card-group>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
  import { required, email } from 'vuelidate/lib/validators';
  import axios from 'axios';
  import { mapActions } from 'vuex';
  import { base_url } from "../api";
  import _ from 'lodash';

  export default {
    data() {
      return {
        userData: {
          email: 'it@hygenia.it',
          password: ''
          //email: '',
          //password: ''
        },
        loginpage: false
      };
    },
    methods: {
      ...mapActions(['login']),
      redirectDashboard: function () {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          axios({
            url: `${base_url}/auth`,
            method: 'post',
            headers: {
              Authorization: 'Basic ' + btoa(this.userData.email + ':' + this.userData.password)
            }
          }).then((res) => {
            const token = _.get(res, 'data.token', null);
            localStorage.setItem('hygeniaToken', token);
            this.$router.push({
              name: 'Dashboard'
            })
          })
        }
      }
    },
    mounted: function () {
      document.body.classList.remove('aside-fixed');
    },
    validations: {
      userData: {
        email: {
          required,
          email
        },
        password: {
          required
        }
      }
    },
    components: {
    }
  };
</script>

<style lang="scss" scoped>
  .login-footer {
    margin-left: 0 !important;
  }

  .backImgLogin {
    background-image: url('../../public/img/Sfondo-Login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .dark-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .btn {
    &.loginBtn {
      background-color: #F0F3F5;
      color: #FF005C;
      font-weight: bolder;
      border: 1px solid #939596;
      border-radius: 6px;

      &:hover {
        background-color: #F9F9F9;
      }
    }
  }

  .card {
    &.bg-custom-light-grey {
      background-color: #f0f3f5;
    }

    &.bd-custom-light-grey {
      border-color: #a4b7c1;
    }
  }
</style>
