<template>
  <div id="calendar">
  </div>
</template>

<script>
  import $ from 'jquery';
  import 'fullcalendar';

  export default {
    name: "Calendar",
    mounted: function () {
      const calendar = $('#calendar');
      calendar.fullCalendar({
        editable: true,
        selectable: true,
        eventOverlap: false,
        height: 600,
        locale: 'it',
        timezone: false,
        // maxTime: '23:59:00',
        // slotDuration: '00:01:00',
        events: [],
        eventDragStart: this.eventDragStart,
        eventDrop: function (event, delta, revertFunc) {},
        eventClick: this.eventClick,
        eventResize: this.eventResize,
        eventRender: this.eventRender,
        select: this.showModalEvent
      });
    },
    methods: {
      eventDragStart: function () {},
      eventClick: function () {},
      eventResize: function () {},
      eventRender: function () {},
      showModalEvent: function () {},
    }
  }
</script>

<style scoped>

</style>
