<template>
  <div>
    <div class="row">
      <div class="column">
        <p class="textStyle">
          <b>Andamento Detergente</b>
        </p>
      </div>
      <div class="column">
        <p class="textStyle" style="float:left">
          Sito:
        </p>
        <select @change="onChangeDevice($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.properPlantName }}
          </option>
        </select>
      </div>
       <div class="column">
        <select @change="onChangeDatapoint($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="column" style="margin-left:10px; width: 90%">
        <line-chart :chart-data="datacollection" :options="options"></line-chart>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="textStyle">
          <b>Andamento Batteria</b>
        </p>
      </div>
      <div class="column">
        <p class="textStyle" style="float:left">
          Sito:
        </p>
        <select @change="onChangeDevice($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.properPlantName }}
          </option>
        </select>
      </div>
      <div class="column">
        <select @change="onChangeDatapoint($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="column" style="margin-left:10px; width: 90%">
        <line-chart :chart-data="datacollection" :options="options"></line-chart>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="textStyle">
          <b>Numero Erogazioni</b>
        </p>
      </div>
      <div class="column">
        <p class="textStyle" style="float:left">
          Sito:
        </p>
        <select @change="onChangeDevice($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.properPlantName }}
          </option>
        </select>
      </div>
      <!-- <div class="column">
        <select @change="onChangeDevice($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div> -->
    </div>
    <div class="row">
      <div class="column" style="width: 90%">
        <bar-chart></bar-chart>
      </div>
    </div>
  </div>
</template>


<script>
import moment from 'moment'
import { GoogleCharts } from "google-charts";
import { setToken, authentication, retrivePlant, retrivePlantDatapoints, retriveDatapointsTimeseries } from "../api";
import LineChart from '../utils/LineChart.js';
import BarChart from '../utils/BarChart.js';

export default {
  data() {
    return {
      device: {},
      plantsIds: [],
      devices: [],
      datacollection: null,
      options: null,
      supplysData: [],
      dataBarCollection: null,
      barLabels: [],
      barData: []
    }
  },
  components: {
    LineChart,
    BarChart
  },
  methods: {
    fillBarData() {
      this.dataBarCollection = {
        labels: this.barLabels,
        datasets: [{
          label: 'Erogazioni',
          backgroundColor: '#f87979',
          pointBackgroundColor: 'white',
          borderWidth: 1,
          pointBorderColor: '#249EBF',
          data: this.barData
        }],
        options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  },
                  gridLines: {
                      display: true
                  }
              }],
              xAxes: [{
                  ticks: {
                      beginAtZero: true
                  },
                  gridLines: {
                      display: false
                  }
              }]
          },
          legend: {
              display: false
          },
          tooltips: {
              enabled: true,
              mode: 'single',
              callbacks: {
                  label: function(tooltipItems, data) {
                      return '$' + tooltipItems.yLabel;
                  }
              }
          }
        }
      }
    },
    createSupplyData() {
      for (let i = 0; i < this.devices.length; i++) {
        let device = this.devices[i];
        for (let x = 0; x < device.datapoints.length; x++) {
          let object = {};
          let point         = device.datapoints[x];
          object.id         = device._id;
          object.name       = device.name;
          object.supply   = "";
          if (point.code === "erogazioni") {
            object.supply = point.lastValueFormatted;
          } else {
            continue;
          }
          this.supplysData.push(object);
        }
      }
      for(let i = 0; i < this.supplysData.length; i++) {
        this.barLabels.push(this.supplysData[i].name);
        this.barData.push(parseInt(this.supplysData[i].supply));
      }
    },
    async getDevicesByPlants() {
      for (let i = 0; i < this.plantsIds.length; i++) {
        let id = this.plantsIds[i];
        try {
          let response = await retrivePlant(id);
          if (response) {
            this.devices   = response.devices;
            let datapoints = await retrivePlantDatapoints(id);
            if (datapoints) {
              for (let x = 0; x < datapoints.length; x++) {
                let datapoint = datapoints[x];
                let device    = this.getDeviceById(datapoint.parentDeviceId);
                if (device) {
                  if (device.datapoints) {
                    device.datapoints.push(datapoint);
                  } else {
                    device.datapoints = [datapoint];
                  }
                  this.updateDeviceById(datapoint.parentDeviceId, device);
                }
              }
            } else {
              for (let x = 0; x < this.devices.length; x++) {
                this.devices[i].datapoints = [];
              }
            }
          }
        } catch (e) {
          console.error(e);
          return false;
        }
      }
      return true;
    },
    getDeviceById(id) {
      for (let i = 0; i < this.devices.length; i++) {
        let device = this.devices[i];
        if (device.id == id) return device;
      }
      return null;
    },
    updateDeviceById(id, device) {
      for (let i = 0; i < this.devices.length; i++) {
        let d = this.devices[i];
        if (d.id == id) {
          this.devices[i] = device;
        }
      }
    },
    getDatapointsSeries(id) {
      retriveDatapointsTimeseries(id).then(response => {
        this.datacollection = response;
      });
    },
    onChangeDevice(e) {
      let value = e.srcElement.value;
      this.device = this.getDeviceById(value);
      this.getDatapointsSeries(this.device.datapoints[0].id);
    },
    onChangeDatapoint(e) {
      let value = e.srcElement.value;
      this.getDatapointsSeries(value);
    }
  },
  beforeMount() {
    authentication()
      .then(async response => {
        let token = response.token;
        setToken(token);
        let authPaths = response.user.authPaths;
        for (let i = 0; i < authPaths.length; i++) {
          let path = authPaths[i];
          path.plantsIds.forEach(element => {
            this.plantsIds.push(element);
          });
        }
        let success = await this.getDevicesByPlants();
        this.device = this.devices[0];
        this.getDatapointsSeries(this.device.datapoints[0].id);
        this.createSupplyData();
      })
      .catch(function(error) {
        /* eslint-disable */
        console.log(error);
        /* eslint-disable */
      });
  },
  mounted() {
    this.fillBarData();
  }
};
</script>

<style>
.textStyle {
  margin: 10px; 
  font-size: 18px
}

.columnDetergente {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

<!--<template>
  <div>
    <div class="row">
      <div class="column">
        <p class="textStyle">
          <b>{{ device.name }}</b>
        </p>
      </div>
      <div class="column">
        <select @change="onChangeDevice($event)" class="textStyle">
          <option v-for="item in devices" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="column">
        <select @change="onChangeDatapoint($event)" class="textStyle">
          <option v-for="item in device.datapoints" v-bind:key="item.id" v-bind:value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <line-chart :chart-data="datacollection" :options="options"></line-chart>
      </div>
    </div>
  </div>
</template>


<script>
import moment from 'moment'
import { GoogleCharts } from "google-charts";
import { setToken, authentication, retrivePlant, retrivePlantDatapoints, retriveDatapointsTimeseries } from "../api";
import LineChart from '../utils/LineChart.js';

export default {
  data() {
    return {
      device: {},
      plantsIds: [],
      devices: [],
      datacollection: null,
      options: null
    }
  },
  components: {
    LineChart
  },
  methods: {
    async getDevicesByPlants() {
      for (let i = 0; i < this.plantsIds.length; i++) {
        let id = this.plantsIds[i];
        try {
          let response = await retrivePlant(id);
          if (response) {
            this.devices   = response.devices;
            let datapoints = await retrivePlantDatapoints(id);
            if (datapoints) {
              for (let x = 0; x < datapoints.length; x++) {
                let datapoint = datapoints[x];
                let device    = this.getDeviceById(datapoint.parentDeviceId);
                if (device) {
                  if (device.datapoints) {
                    device.datapoints.push(datapoint);
                  } else {
                    device.datapoints = [datapoint];
                  }
                  this.updateDeviceById(datapoint.parentDeviceId, device);
                }
              }
            } else {
              for (let x = 0; x < this.devices.length; x++) {
                this.devices[i].datapoints = [];
              }
            }
          }
        } catch (e) {
          console.error(e);
          return false;
        }
      }
      return true;
    },
    getDeviceById(id) {
      for (let i = 0; i < this.devices.length; i++) {
        let device = this.devices[i];
        if (device.id == id) return device;
      }
      return null;
    },
    updateDeviceById(id, device) {
      for (let i = 0; i < this.devices.length; i++) {
        let d = this.devices[i];
        if (d.id == id) {
          this.devices[i] = device;
        }
      }
    },
    getDatapointsSeries(id) {
      console.log(id)
      retriveDatapointsTimeseries(id).then(response => {
        this.datacollection = response;
      });
    },
    onChangeDevice(e) {
      let value = e.srcElement.value;
      this.device = this.getDeviceById(value);
      this.getDatapointsSeries(this.device.datapoints[0].id);
    },
    onChangeDatapoint(e) {
      let value = e.srcElement.value;
      this.getDatapointsSeries(value);
    }
  },
  beforeMount() {
    authentication()
      .then(async response => {
        let token = response.token;
        setToken(token);
        let authPaths = response.user.authPaths;
        for (let i = 0; i < authPaths.length; i++) {
          let path = authPaths[i];
          path.plantsIds.forEach(element => {
            this.plantsIds.push(element);
          });
        }
        let success = await this.getDevicesByPlants();
        this.device = this.devices[0];
        this.getDatapointsSeries(this.device.datapoints[0].id);
      })
      .catch(function(error) {
        /* eslint-disable */
        console.log(error);
        /* eslint-disable */
      });
  },
  mounted() {
  }
};
</script>

<style>
.textStyle {
  margin: 10px; 
  font-size: 18px
}
</style>-->
