<template>
  <div class="animated fadeIn">

    <div class="pageBody">

      <!-- /table progetti -->

      <!--.row per LISTA-->
      <div class="row" style="margin: 0 30px; border: 0px; background-color: #f0f3f5">
        <div class="col-md-6" style="cursor: pointer" @click="$router.push({ name: 'SmartDispenser'})">
          <img class="img-responsive" style="width:100%;" src="img/bagno2.jpg"/>
          <div class="dashboard-button">
            <a class="dashboard-text-button" style="background-color: #dfe324">SMART DISPENSER</a>
          </div>
        </div>
        <div class="col-md-6" style="cursor: pointer"  @click="$router.push({ name: 'AssetPeople'})">
          <img class="img-responsive" style="width:100%;" src="img/asset.jpg"/>
          <div class="dashboard-button">
            <a class="dashboard-text-button" style="background-color: rgb(152,184,26)">ASSET E PEOPLE TRACKING</a>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 20px 30px 0 30px; border: 0px; background-color: #f0f3f5">
        <div class="col-md-6" style="cursor: pointer" @click="$router.push({ name: 'FootfallAnalytics'})">
          <img class="img-responsive" style="width:100%;" src="img/big.jpg"/>
          <div class="dashboard-button">
            <a class="dashboard-text-button" style="background-color: rgb(26,146,141); ">FOOTFALL ANALYTICS</a>
          </div>
        </div>
        <div class="col-md-6" style="cursor: pointer" @click="$router.push({ name: 'SmartDispenser'})">
          <img class="img-responsive" style="width:100%;" src="img/smart_dispenser.jpg"/>
          <div class="dashboard-button">
            <a class="dashboard-text-button" style="background-color: rgb(31,160,221); ">SMART DISPENSER PLUS</a>
          </div>
        </div>

      </div>
      <!--./row-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
    data: {
        message: ''
    },
    methods: {
        goto: function () {
            this.router.push({ name: 'user', params: { userId: '123' } })
        }
    }
}
</script>

<style>
  /*DASHBOARD*/
  .dashboard-button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-right: 15px;
  }
  .dashboard-text-button {
    height: 100%;
    width: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;


  }

  .dashboard-text-button:hover{
    color:white!important;
  }
</style>
