<template>
<div style="height: 41vw;">
    <iframe style="width: 100%; height: 100%" :src="url"></iframe>
</div>
</template>

<script>
    import { getPeriscopeUrl } from '../utils/periscope';

  export default {
    components: {},
    data: function() {
      const date = new Date();
      date.setMinutes(date.getMinutes() - 10);
      const utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
      const data_ts = utc/1000;
      return {
        periscopeData: {
          "daterange":{
            "days":7
          },
          "aggregation":"daily",
          "dashboard":"159652",
          "embed":"v2",
          "data_ts":data_ts,
          "filters":[
            {
              "name":"Domains",
              "value":27
            },
            {
              "name":"Accounts",
              "value":34,
              "group":27
            }
          ],
          "visible":[
            "daterange",
            "aggregation",
            "Locations",
            "Sensors",
            "Week_Day"
          ]
        },
        url: undefined,
      }
    },
    mounted: function() {
      this.url = getPeriscopeUrl(this.periscopeData)
    }
  }
</script>

<style>

</style>
