<template>
  <div class="md">
    <div class="row">
      <div class="info">
        <p>
          <b>Informazioni generali</b>
        </p>
      </div>
      <div class="column">
        <p>
          <b>Codice</b>
        </p>
      </div>
      <div class="column">
        <p>{{ rowDataClicked.code }}</p>
      </div>
      <div class="column">
        <p>
          <b>Name</b>
        </p>
      </div>
      <div class="column">
        <p>{{ rowDataClicked.name }}</p>
      </div>
      <div class="column">
        <p>
          <b>Plant Code</b>
        </p>
      </div>
      <div class="column">
        <p>{{ rowDataClicked.plantCode }}</p>
      </div>
      <div class="column">
        <p>{{ rowDataClicked.updatedAt }}</p>
      </div>
    </div>
    <ag-grid-vue
      class="ag-theme-balham agGrid"
      :gridOptions="gridOptions"
      :columnDefs="columnDefs"
      :rowData="rowData"
      :pagination="true"
      :paginationPageSize="10"
      @grid-ready="onGridReady"
    ></ag-grid-vue>
    <button type="button" class="btn exportButton" @click="onBtExport()">Export</button>
  </div>
</template>

<script>
import { AgGridVue } from "ag-grid-vue";
import { retrivePlant, retriveDatapoint } from "../api"

export default {
  props: ["rowDataClicked"],
  data() {
    return {
      gridOptions: null,
      columnDefs: null,
      rowData: null,
      plantId: "5b8fe7422db7c60015240d01",
    };
  },
  components: {
    AgGridVue
  },
  methods: {
    createRowData() {
      this.rowData = [
        { date: "30/04/19 h 12.02", code: "H001", supply: "1", cleanser: 100, battery: 100 },
        { date: "30/04/19 h 10.02", code: "H002", supply: "2", cleanser: 100, battery: 100 },
        { date: "30/04/19 h 09.22", code: "H004", supply: "3", cleanser: 99, battery: 100 },
        { date: "30/04/19 h 09.12", code: "H005", supply: "4", cleanser: 99, battery: 100 },
        { date: "30/04/19 h 08.34", code: "H006", supply: "5", cleanser: 99, battery: 100 },
        { date: "29/04/19 h 12.02", code: "H007", supply: "6", cleanser: 98, battery: 98 },
        { date: "29/04/19 h 10.02", code: "H007", supply: "7", cleanser: 98, battery: 98 },
        { date: "29/04/19 h 09.22", code: "H001", supply: "8", cleanser: 98, battery: 98 },
        { date: "29/04/19 h 09.12", code: "H002", supply: "9", cleanser: 97, battery: 97 },
        { date: "29/04/19 h 08.34", code: "H003", supply: "10", cleanser: 97, battery: 97 },
        { date: "28/04/19 h 12.02", code: "H004", supply: "11", cleanser: 97, battery: 97 },
        { date: "28/04/19 h 10.02", code: "H005", supply: "12", cleanser: 96, battery: 96 },
        { date: "28/04/19 h 09.22", code: "H006", supply: "13", cleanser: 96, battery: 96 },
        { date: "28/04/19 h 09.12", code: "H007", supply: "14", cleanser: 96, battery: 96 },
        { date: "28/04/19 h 08.34", code: "H007", supply: "15", cleanser: 95, battery: 95 },
        { date: "27/04/19 h 12.02", code: "H004", supply: "16", cleanser: 95, battery: 95 },
        { date: "27/04/19 h 10.02", code: "H005", supply: "17", cleanser: 95, battery: 95 },
        { date: "27/04/19 h 09.22", code: "H006", supply: "18", cleanser: 94, battery: 94 },
        { date: "27/04/19 h 09.12", code: "H007", supply: "19", cleanser: 94, battery: 94 },
        { date: "27/04/19 h 08.34", code: "H007", supply: "20", cleanser: 94, battery: 94 }
      ];
    },
    createColumnDefs() {
      this.columnDefs = [
        { headerName: "Data e ora", field: "date", sortable: true, filter: true },
        { headerName: "Codice utente", field: "code", sortable: true, filter: true },
        { headerName: "Numero erogazione", field: "supply", sortable: true, filter: true },
        { headerName: "Liv. detergente", field: "cleanser", sortable: true, filter: true, cellRenderer: function(params) { return params.value + "%"; } },
        { headerName: "Livello Batteria", field: "battery", sortable: true, filter: true, cellRenderer: function(params) { return params.value + "%"; } }
      ];
    },
    onGridReady() {
      this.gridOptions.api.sizeColumnsToFit();
    },
    onBtExport() {
      this.gridOptions.api.exportDataAsCsv();
    },
    onFilterSupplys(value) {
      var filter = value.srcElement.value;
      var supplysFilterComponent = this.gridOptions.api.getFilterInstance(
        "supplys"
      );
      supplysFilterComponent.setModel({
        condition1: {
          type: "lessThan",
          filter: filter
        },
        condition2: {
          type: "equals",
          filter: filter
        },
        operator: "OR"
      });
      supplysFilterComponent.onFilterChanged();
    }
  },
  created() {
    this.gridOptions = {};
  },
  beforeMount() {
    this.createRowData();
    this.createColumnDefs();
    let parentId = this.rowDataClicked.parentId;
    // retriveDatapoint(parentId).then(response => {
    //   console.log(response);
    // });
  }
};
</script>

<style scoped>
.md {
  margin: 30px;
}

.info {
  width: 100%;
  display: flex;
  padding: 10px;
}

.row {
  border: 1px solid black;
  margin-bottom: 5px;
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
  padding: 10px;
  text-align: left;
}

.btn{
  margin-top: 10px;
  float: left;
}
</style>
