<template>
    <div>
        <router-link to="/main/charts" class="router-link">
            <button type="button" class="btn exportButton">Vai ai grafici</button>
        </router-link>
        <br>
        <tableOne style="margin: 30px"/>
        <tableTwo style="margin: 30px"/>
    </div>
</template>

<script>
import tableOne from "./TableOne.vue";
import tableTwo from "./TableTwo.vue";

export default {
    components: {
        tableOne,
        tableTwo
    }
}
</script>

<style scoped>
.router-link {
    position: absolute; 
    right: 0;
    margin-right: 20px;
}
</style>
