<template>
  <div>
    <div class="row">
      <div class="column" style="width: 10%">
        <p style="margin: 10px; font-size: 18px">
          <b>Filtri:</b>
        </p>
      </div>
      <div class="column" style="width: 30%">
        <p class="filter">N. Erogazioni</p>
        <input type="text" class="input" @change="onFilterSupplys($event)">
      </div>
      <div class="column" style="width: 50%">
        <p class="filter">Periodo</p>
        <p style="float:left">da:<input type="date" class="input" @change="getFirstValue($event)"></p>
        <p>a:<input type="date" class="input" @change="getSecondValue($event)"></p>
      </div>
      <div class="column" style="width: 5%">
        <button style="margin-left:50%" type="button" class="btn exportButton" @click="onBtExport()">Export</button>
      </div>
    </div>
    <ag-grid-vue
      class="ag-theme-balham agGrid"
      :columnDefs="columnDefs"
      :rowData="rowData"
      :pagination="true"
      :paginationPageSize="10"
      :enableColResize="true"
      :resizable="true"
      @grid-ready="onGridReady"
      @row-double-clicked="onRowDoubleClicked"
    ></ag-grid-vue>
  </div>
</template>

<script>
import { AgGridVue } from "ag-grid-vue";
import moment from 'moment';
import { setToken, authentication, retrivePlant, retrivePlantDatapoints } from "../api";

export default {
  data() {
    return {
      gridApi: null,
      columnDefs: null,
      rowData: [],
      plantsIds: [],
      devices: [],
      firstValue: null,
      secondValue: null
    };
  },
  components: {
    AgGridVue
  },
  methods: {
    createRowData() {
      for (let i = 0; i < this.devices.length; i++) {
        let device = this.devices[i];

        for (let x = 0; x < device.datapoints.length; x++) {
          let object = {};
          let point         = device.datapoints[x];
          object.id         = device._id;
          object.code       = device.code;
          object.name       = device.name;
          object.plantCode  = device.plantCode;
          object.lastValueReceivedTime = moment(point.lastValueReceivedTime).format('YYYY-MM-DD') ;
          object.supply   = "";
          if (point.code === "erogazioni") {
            object.supply = point.lastValueFormatted;
          } else {
            continue;
          }
          this.rowData.push(object);
        }
      }
    },
    createColumnDefs() {
      this.columnDefs = [
        { headerName: "Codice", field: "code", sortable: true, filter: true, width: 225 },
        { headerName: "Name", field: "name", sortable: true, filter: true, width: 225 },
        { headerName: "Plant Code", field: "plantCode", sortable: true, filter: true, width: 225 },
        { headerName: "N.Erogazione", field: "supply", sortable: true, filter: "agNumberColumnFilter", width: 225 },
        { headerName: "Data ultima rilevazione", field: "lastValueReceivedTime", sortable: true, filter: 'agDateColumnFilter', width: 225 }
      ];
    },
    onGridReady(params) {
      this.gridApi = params.api
      this.gridApi.sizeColumnsToFit();
    },
    onBtExport() {
      this.gridApi.exportDataAsCsv();
    },
    onRowDoubleClicked(event) {
      var rowDataClicked = event.node.data;
      this.$router.push({
        name: "masterDetails",
        params: { rowDataClicked: rowDataClicked }
      });
    },
    onFilterSupplys(value) {
      var filter = value.srcElement.value;
      var supplysFilterComponent = this.gridApi.getFilterInstance("supply");
      supplysFilterComponent.setModel({
        condition1: {
          type: "lessThan",
          filter: filter
        },
        condition2: {
          type: "equals",
          filter: filter
        },
        operator: "OR"
      });
      supplysFilterComponent.onFilterChanged();
    },
    getFirstValue(value){
      this.firstValue = value.srcElement.value;
      if(this.firstValue && this.secondValue) {
        this.onDateFilter(this.firstValue, this.secondValue)
      }
    },
    getSecondValue(value){
      this.secondValue = value.srcElement.value;
      if(this.firstValue && this.secondValue) {
        this.onDateFilter(this.firstValue, this.secondValue)
      }
    },
    onDateFilter(firstValue, secondValue) {
      if (firstValue && secondValue) {
        let firstDate = moment(firstValue).format("YYYY-MM-DD");
        let secondDate = moment(secondValue).format("YYYY-MM-DD");
        var datesFilterComponent = this.gridApi.getFilterInstance("lastValueReceivedTime");
        datesFilterComponent.setModel({
          type:'inRange',
          dateFrom: firstDate,
          dateTo: secondDate
        });
        this.gridApi.onFilterChanged()
      }
    },
    async getDevicesByPlants() {
      for (let i = 0; i < this.plantsIds.length; i++) {
        let id = this.plantsIds[i];
        try {
          let response = await retrivePlant(id);
          if (response) {
            this.devices   = response.devices;
            let datapoints = await retrivePlantDatapoints(id);
            if (datapoints) {
              for (let x = 0; x < datapoints.length; x++) {
                let datapoint = datapoints[x];
                let device    = this.getDeviceById(datapoint.parentDeviceId);
                if (device) {
                  if (device.datapoints) {
                    device.datapoints.push(datapoint);
                  } else {
                    device.datapoints = [datapoint];
                  }
                  this.updateDeviceById(datapoint.parentDeviceId, device);
                }
              }
            } else {
              for (let x = 0; x < this.devices.length; x++) {
                this.devices[i].datapoints = [];
              }
            }
          }
        } catch (e) {
          console.error(e);
          return false;
        }
      }
      return true;
    },
    getDeviceById(id) {
      for (let i = 0; i < this.devices.length; i++) {
        let device = this.devices[i];
        if (device.id == id) return device;
      }
      return null;
    },
    updateDeviceById(id, device) {
      for (let i = 0; i < this.devices.length; i++) {
        let d = this.devices[i];
        if (d.id == id) {
          this.devices[i] = device;
        }
      }
    }
  },
  beforeMount() {
    authentication()
      .then(async response => {
        let token = response.token;
        setToken(token);
        let authPaths = response.user.authPaths;
        for (let i = 0; i < authPaths.length; i++) {
          let path = authPaths[i];
          path.plantsIds.forEach(element => {
            this.plantsIds.push(element);
          });
        }
        let success = await this.getDevicesByPlants();
        if (!success) return;
        this.createRowData();
        this.createColumnDefs();
      })
      .catch(function(error) {
        /* eslint-disable */
        console.log(error);
        /* eslint-disable */
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

.column {
  float: left;
  // width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 55px;
}
.filter {
  float: left;
  margin: 10px; 
  font-size: 18px;
}
</style>
