<template>
    <div class="users-container">
      <v-client-table v-if="columns" :columns="columns" :data="users" :options="options">
        <div slot="firstName" slot-scope="props">
          {{ _.get(props, 'row.project.name', '') }}
        </div>
        <div slot="lastName" slot-scope="props">
          {{ _.get(props, 'row.plant.name', '') }}
        </div>
        <div slot="createdAt" slot-scope="props">
          {{ props.row.createdAt }}
        </div>
        <div slot="actions" slot-scope="props">
          <b-button class="btn-outline-evogyDarkgrey" size="sm" @click="() => {}"><i class="fa fa-download" /></b-button>
          <b-button class="btn-outline-evogyDarkgrey" size="sm" @click="() => {}"><i class="fa fa-pencil" /></b-button>
          <b-button class="btn-outline-evogyDarkgrey" size="sm" @click="() => {}"><i class="fa fa-trash" /></b-button>
        </div>
      </v-client-table>
    </div>
</template>

<script>
  import _ from 'lodash';

  export default {
    name: "Users",
    data: function () {
      return {
        options: {
          headings: {
            name: 'Nome',
            created_by: 'Utente',
            project: 'Progetto',
            plant: 'Sito',
            createdAt: 'Data creazione',
            actions: 'Azioni'
          },
          sortable: ['firstName', 'lastName'],
          filterable: ['firstName', 'lastName'],
          texts: {
            filter: 'Cerca',
            filterPlaceholder: '',
            limit:"Limita a:",
            noResults:"Nessun elemento trovato",
            count:"da {from} a {to} di {count} Elementi |{count} Elementi |Un Elemento",
          },
          sortIcon: { base:'fa', up:'fa-sort-up', down:'fa-sort-down', is:'fa-sort' }
        },
        columns: ['firstName', 'lastName', 'createdAt', 'actions'],
        users: []
      }
    },
    computed: {
      _: function () {
        return _;
      }
    }
  }
</script>

<style scoped>
  .users-container {}

</style>
