body {
    background-color: #f2f2f2 !important;
}

#app {
    text-align: center;
}

.agGrid {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}

.input {
    text-align: center;
    margin: 10px;
}

.formSelect {
    max-width: 300px;
}

.title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.row {
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.exportButton {
    margin: 5px;
    background-color: #00cc99;
    border-color: #00cc99;
    color: white;
}

.exportButton:active {
    background-color: #00A37A;
    color: white;
}

.exportButton:hover {
    background-color: #00A37A;
    color: white;
}

.sidebar-show .sidebar {
    width: 250px!important;
}